---
traefik_docker_network_bridge_name: br-traefik0

### geerlingguy.docker
docker_users:
  - "{{ main_user.username }}"

### weareinteractive.ufw
docker_ufw_rules: []

### exterrestris.traefik
traefik_install: docker
traefik_config_dir: "{{ appdata_path }}/traefik"
traefik_docker_network: traefik
traefik_docker_network_driver_options:
  com.docker.network.bridge.name: "{{ traefik_docker_network_bridge_name }}"
traefik_providers:
  - "{{ traefik_default_docker_provider }}"
  - "{{ traefik_default_file_provider }}"

### exterrestris.docker_compose
docker_compose_autostart: no
docker_compose_pull_images: no
docker_compose_compose_file: docker-compose.yaml

## exterrestris.users
all_container_users:
  - username: jellyfin
    groups:
      - media
    uid: 200
    gid: 200
    hosts:
      - memory_alpha
  - username: sonarr
    groups:
      - media
      - downloads
    uid: 201
    gid: 201
    hosts:
      - memory_alpha
  - username: radarr
    groups:
      - media
      - downloads
    uid: 202
    gid: 202
    hosts:
      - memory_alpha
  - username: jackett # Unused
    groups:
      - downloads
    uid: 203
    gid: 203
    hosts: []
  - username: torrents
    groups:
      - downloads
    uid: 204
    gid: 204
    hosts:
      - memory_alpha
  - username: ombi
    groups:
      - downloads
    uid: 205
    gid: 205
    hosts:
      - memory_alpha
  - username: metube
    groups:
      - downloads
    uid: 206
    gid: 206
    hosts:
      - memory_alpha
  - username: prowlarr
    groups:
      - downloads
    uid: 207
    gid: 207
    hosts:
      - memory_alpha
  - username: uptime-kuma
    uid: 210
    gid: 210
    hosts:
      - argus_array
  - username: omada
    uid: 211
    gid: 211
    hosts:
      - argus_array
  - username: healthchecks
    uid: 212
    gid: 212
    hosts:
      - argus_array
  - username: paperless
    uid: 213
    gid: 213
    groups:
      - archive
      - scanners
    hosts:
      - memory_alpha
  - username: redis
    uid: 214
    gid: 214
    hosts:
      - memory_alpha
  - username: postgres
    uid: 215
    gid: 215
    hosts:
      - memory_alpha
  - username: stirling-pdf
    uid: 216
    gid: 216
    hosts:
      - memory_alpha
  - username: sabnzbd
    uid: 217
    gid: 217
    groups:
      - downloads
    hosts:
      - memory_alpha

container_user_opts:
  shell: /usr/sbin/nologin
  home: /nonexistent
  createhome: no

container_users: "{{ all_container_users | selectattr('hosts', 'superset', [ inventory_hostname ]) | list | map('combine', container_user_opts) }}"
