---
nas_common_packages:
  - name: smartmontools
  - name: nvme-cli

appdata_path: /mnt/zfs/appdata

## exterrestris.users
all_nas_users:
  - username: officejet-8725
    password: "{{ vault_officejet_user_password | password_hash('sha512', 65534 | random(seed=inventory_hostname) | string) }}"
    samba_password: "{{ vault_officejet_user_password }}"
    groups:
      - scanners
    uid: 2000
    gid: 2000
    hosts:
      - memory_alpha
  - username: brother-ads2800w
    password: "{{ vault_brother_user_password | password_hash('sha512', 65534 | random(seed=inventory_hostname) | string) }}"
    samba_password: "{{ vault_brother_user_password }}"
    groups:
      - scanners
    uid: 2001
    gid: 2001
    hosts:
      - memory_alpha

nas_user_opts:
  shell: /usr/sbin/nologin
  home: /nonexistent
  createhome: no

global_nas_users: "{{ all_nas_users | rejectattr('hosts', 'defined') | list }}"
host_nas_users: "{{ all_nas_users | selectattr('hosts', 'defined') | selectattr('hosts', 'superset', [ inventory_hostname ]) | list }}"
nas_users: "{{ global_nas_users | union(host_nas_users) | map('combine', nas_user_opts) }}"

all_nas_groups:
  - name: backups
    gid: 1001
  - name: media
    gid: 1002
  - name: archive
    gid: 1003
  - name: downloads
    gid: 1004
  - name: resources
    gid: 1005
  - name: photos
    gid: 1008
  - name: scanners
    gid: 1009
    hosts:
      - memory_alpha
  - name: transient
    gid: 1010
    hosts:
      - memory_alpha
  - name: scratch
    gid: 1011
    hosts:
      - memory_alpha

global_nas_groups: "{{ all_nas_groups | rejectattr('hosts', 'defined') | list }}"
host_nas_groups: "{{ all_nas_groups | selectattr('hosts', 'defined') | selectattr('hosts', 'superset', [ inventory_hostname ]) | list }}"
nas_groups: "{{ global_nas_groups | union(host_nas_groups) | community.general.remove_keys(target=['samba_password']) }}"

### mount_disks
btrfs_data_opts: compress=zstd
ntfs_opts: nls=utf8,umask=0022,uid=1000

### tigattack.mergerfs
mergerfs_policy: mfs
mergerfs_opts: allow_other,use_ino,cache.files=off,dropcacheonclose=true
mergerfs_remove_undefined_mounts: true

### vladgh.samba.server
all_samba_users:
  - "{{ main_user_samba }}"
global_samba_users: "{{ all_samba_users | rejectattr('hosts', 'defined') | list }}"
host_samba_users: "{{ all_samba_users | selectattr('hosts', 'defined') | selectattr('hosts', 'superset', [ inventory_hostname ]) | list }}"
nas_samba_users: "{{ global_nas_users
                      | union(host_nas_users)
                      | selectattr('samba_password', 'defined')
                      | list
                      | community.general.keep_keys(target=['username', 'samba_password'])
                      | map(
                          'ansible.utils.replace_keys',
                          target=[{'before': 'username', 'after': 'name'}, {'before': 'samba_password', 'after': 'password'}]
                        ) }}"

samba_workgroup: FEDERATION
samba_preferred_master: true
# Handle Windows not being able to browse shares due to incorrectly applied mitigation (https://github.com/bertvv/ansible-role-samba/issues/62)
samba_mitigate_cve_2017_7494: false
samba_global_include: smb-extras.conf
samba_guest_account: nobody
samba_users: "{{ global_samba_users | union(host_samba_users) | union(nas_samba_users) }}"

### exterrestris.wsdd
wsdd_workgroup: "{{ samba_workgroup }}"

### weareinteractive.ufw
nas_ufw_rules:
  - rule: allow
    name: Samba
